/* Color palette: POSYDOTS */
:root {
  &.cmyk {
    --black: #1D1235;
    --gray-dark: #3D405C;
    --gray-light: #9499A4;
    --white: #E8E4E2;
    --link: #412687;
    --link-active: #801B85;
    --accent-1: #229DAA;
    --accent-2: #EDC345;
    --accent-3: #D8226E;
    --accent-current: var(--accent-2);
    /* media (prefers-color-scheme: dark) { */
      /* --black: #E8E4E2; */
      /* --gray-dark: #9499A4; */
      /* --gray-light: #3D405C; */
      /* --white: #1D1235; */
    /* } */
  }

  &.b4g {
    --black: #000928;
    --gray-dark: #2F4369;
    --gray-light: #C2B6B1;
    --white: #ECEAE4;
    --link: #092E74;
    --link-active: #780158;
    --accent-1: #E8BB41;
    --accent-2: #63AB11;
    --accent-3: #0A6D9F;
    --accent-current: var(--accent-2);
    /* media (prefers-color-scheme: dark) { */
      /* --black: #ECEAE4; */
      /* --gray-dark: #C2B6B1; */
      /* --gray-light: #2F4369; */
      /* --white: #000928; */
    /* } */
  }
}

/* Fonts */
/* hack font: the Compute Zone */
@font-face {
  font-family: 'Hack';
  src: url('/fonts/Hack-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hack';
  src: url('/fonts/Hack-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Hack';
  src: url('/fonts/Hack-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Hack';
  src: url('/fonts/Hack-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}
/* Paper Mono: craft center */
@font-face {
  font-family: 'Paper Mono';
  src: url('/fonts/PaperMono-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  background-color: var(--white);
  color: var(--black);
  font-family: sans-serif;
  a {
    color: var(--link);
    &:active { color: var(--link-active);}
    &:hover, &:active {text-decoration: wavy underline;}
  }
}
