/* Color palette: POSYDOTS */
:root {
  &.cmyk {
    --black: #1D1235;
    --gray-dark: #3D405C;
    --gray-light: #9499A4;
    --white: #E8E4E2;
    --link: #412687;
    --link-active: #801B85;
    --accent-1: #229DAA;
    --accent-2: #EDC345;
    --accent-3: #D8226E;
    --font: sans-serif;
  }

  &.jnd {
    --black: #00052D;
    --gray-dark: #3D405C;
    --gray-light: #9499A4;
    --white: #ECE9C5;
    --link: #004264;
    --link-active: #6F0044;
    --accent-1: #81D71E;
    --accent-2: #00BCAC;
    --accent-3: #0076B2;
    --accent-4: #F53F76;
    --font: 'Hack';
  }
  &.b4g {
    --black: #00052D;
    --gray-dark: #3D405C;
    --gray-light: #9499A4;
    --white: #ece9c5;
    --link: #004264;
    --link-active: #6F0044;
    --accent-1: #e7ae4e;
    --accent-2: #81d71e;
    --accent-3: #0076b2;
    --font: 'Paper Mono';
  }
}

/* Fonts */
/* hack font: the Compute Zone */
@font-face {
  font-family: 'Hack';
  src: url('/fonts/Hack-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hack';
  src: url('/fonts/Hack-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Hack';
  src: url('/fonts/Hack-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Hack';
  src: url('/fonts/Hack-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}
/* Paper Mono: craft center */
@font-face {
  font-family: 'Paper Mono';
  src: url('/fonts/PaperMono-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  background-color: var(--white);
  color: var(--black);
  font-family: var(--font);
  a {
    color: var(--link);
    &:active { color: var(--link-active);}
    &:hover, &:active {text-decoration: wavy underline;}
  }
}
