body {
  display: flex; flex-direction: column;
  margin: auto; padding: 1rem; width: 80%;
  background-color: var(--white);
  header {
    width: 100%;
    #headerdraw {
      background-color: var(--accent-current);
      width: 100%; height: 15rem;
    }
  }
}


/* Tablet use */
@media screen and (min-width: 50rem) {
  body {
  }
}
