body {
  display: flex; flex-direction: column;
  margin: 1rem auto; width: 80%;
  border: 1px solid black;
  header {
    width: 100%;
    #headerdraw {
      border: 1px solid black;
      background-color: var(--accent-current);
      width: 100%; height: 15rem;
    }
  }
}


/* Tablet use */
@media screen and (min-width: 50rem) {
  body {
    border: 1px solid red;
  }
}
