---
import '../css/footer.css';
import '../css/global.css';
import { darkmode } from '../js/darkmode.js';
import { Icon } from 'astro-icon/components';
---
<footer><div>
  <!--
  <div>
    <button type="button" onclick="toggledark()"><Icon name="material-symbols:dark-mode"/></button>
  </div>
  -->
  <p>© bunnyguy 2025</p>
  <nav><ul class="flexbox">
    <li><a href="">sitemap</a></li>
    <li><a href="/#abouttheweb">about the website</a></li>
  </ul></nav>
</div></footer>
